<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="username" value="neo4j"/>
	<add key="password" value="armadabob"/>
	<add key="urlRoot" value="http://localhost:7474/db/data/"/>
	<add key="defaultEncoding" value="UTF-8"/>
	<add key="defaultContentType" value="application/json"/>
  </appSettings>
</configuration>